body header{
    padding: 50px;
    text-align: center;
    font-size:30px;
}

body {
    text-align: center;
}

#message img{
    width: 200px;
    height: 200px;
    text-align: center;
}

#twitter img{
    width: 200px;
    height: 200px;
}

#amazon img{
    width: 200px;
    height: 200px;
}

#pc img{
    width: 200px;
    height: 200px;
}